.header {
  position: fixed;
  z-index: 30;
  width: 100%;
  font-family: "Jost", sans-serif;
  opacity: 0.94;
}
.header .nav__container {
  margin: 0px;
  padding: 10px 25px;
}
.header .nav__container .navbar {
  margin: 0;
  padding: 0px 0px;
}
.header .nav__container .navbar .container-fluid {
  background-color: #046aaa;
  box-shadow: 0px 0px 10px rgb(0, 85, 137);
  border-radius: 20px;
  padding: 8px 0px;
}
.header .nav__container .navbar .container-fluid .navbar-brand {
  font-size: 1.35rem;
  color: rgb(79, 226, 255);
  font-weight: 500;
  text-shadow: 0px 0px 30px black;
  padding-left: 20px;
  padding-bottom: 5px;
}
.header .nav__container .navbar .container-fluid .navbar-brand:hover {
  color: rgb(79, 226, 255);
  text-shadow: 0px 0px 10px rgb(79, 226, 255);
}
.header .nav__container .navbar .container-fluid .navbar-brand:focus {
  color: rgb(79, 226, 255);
  text-shadow: 0px 0px 10px rgb(79, 226, 255);
}
.header .nav__container .navbar .container-fluid .navbar-toggler {
  background-color: rgb(79, 226, 255);
  font-size: 0.7rem;
  border: 1px solid rgb(79, 226, 255);
  box-shadow: 0px 0px 15px rgb(0, 62, 75);
  padding: 7px 9px;
  margin: 0;
  margin-right: 11px;
}
.header .nav__container .navbar .container-fluid .navbar-toggler:focus {
  background-color: rgb(79, 226, 255);
  box-shadow: 0px 0px 10px rgb(79, 226, 255);
  border: 1px solid rgb(79, 226, 255);
}
.header .nav__container .navbar .container-fluid .navbar-toggler:hover {
  background-color: rgb(79, 226, 255);
  box-shadow: 0px 0px 10px rgb(79, 226, 255);
}
.header .nav__container .navbar .container-fluid .navbar-toggler:active {
  background-color: rgb(79, 226, 255);
  box-shadow: 0px 0px 5px rgb(79, 226, 255);
}
.header .nav__container .navbar .container-fluid .navbar-collapse {
  margin: 0px;
}
.header .nav__container .navbar .container-fluid .navbar-collapse .navbar-nav {
  margin: 0px;
  padding-right: 10px;
  padding-left: 10px;
}
.header .nav__container .navbar .container-fluid .navbar-collapse .navbar-nav li {
  padding-bottom: 0px;
  padding-right: 20px;
  padding-left: 10px;
}
.header .nav__container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
  display: inline-block;
  color: rgb(79, 226, 255);
  text-shadow: 0px 0px 15px black;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}
.header .nav__container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link:hover {
  color: rgb(79, 226, 255);
  text-shadow: 0px 0px 10px rgb(79, 226, 255);
}
.header .nav__container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link:focus {
  color: rgb(79, 226, 255);
  text-shadow: 0px 0px 10px rgb(79, 226, 255);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(29, 20, 135);
  width: 100%;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  margin: 15px;
}
.main__img {
  background-image: url(../assets/images/menu.jpg);
  background-size: cover;
  background-position: top;
  box-shadow: 0px 0px 20px 1px black;
  border-radius: 20px;
  height: 55vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.main__content {
  position: absolute;
  z-index: 10;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Jost", sans-serif;
}
.main__content h1 {
  font-size: min(10vw, 2.5rem);
  color: white;
  text-shadow: 0px 0px 20px black;
  font-weight: 400;
}
.main__content h2 {
  font-size: min(4.3vw, 1.5rem);
  color: white;
  text-shadow: 0px 0px 20px black;
  font-weight: 300;
}

.main-turnos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 15px;
}
.main-turnos__img {
  background-image: url(../assets/images/menu.jpg);
  background-size: cover;
  background-position: top;
  box-shadow: 0px 0px 20px 1px black;
  opacity: 0.9;
  border-radius: 20px;
  height: 80vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.main-turnos__content {
  position: absolute;
  z-index: 10;
  margin: 0px;
  padding: 10px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Jost", sans-serif;
}
.main-turnos__content h1 {
  font-size: min(11vw, 3rem);
  color: white;
  text-shadow: 0px 0px 20px black;
  font-weight: 400;
}
.main-turnos__content h2 {
  font-size: min(5.5vw, 1.3rem);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
  font-weight: 300;
  padding: 0px 20px 0px 20px;
}

.main-nosotros {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  margin: 15px;
}
.main-nosotros__img {
  background-image: url(../assets/images/menu.jpg);
  background-size: cover;
  background-position: top;
  box-shadow: 0px 0px 20px 1px black;
  border-radius: 20px;
  height: 55vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.main-nosotros__content {
  position: absolute;
  z-index: 10;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Jost", sans-serif;
}
.main-nosotros__content h1 {
  font-size: min(10vw, 2.5rem);
  color: white;
  text-align: center;
  text-shadow: 0px 0px 20px black;
  font-weight: 400;
}

.main-reclamos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 15px;
}
.main-reclamos__img {
  background-image: linear-gradient(to bottom, #00c1fb, #00d1e0, #00d2d2);
  box-shadow: 0px 0px 20px 1px black;
  opacity: 0.9;
  border-radius: 20px;
  height: 90vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.main-reclamos__content {
  position: absolute;
  z-index: 10;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Jost", sans-serif;
}
.main-reclamos__content h1 {
  font-size: min(11vw, 3rem);
  color: white;
  text-shadow: 0px 0px 20px black;
  font-weight: 400;
}
.main-reclamos__content h2 {
  font-size: min(5.5vw, 1.3rem);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
  font-weight: 300;
  padding: 0px 20px 0px 20px;
}

.main__content-section {
  display: flex;
  flex-direction: column;
}

.main__section-AboutUs {
  background-image: linear-gradient(to bottom, #00c1fb, #00d1e0, #00d2d2);
  font-family: "Jost", sans-serif;
  border-radius: 20px;
  margin: 15px;
  padding: 20px;
  box-shadow: 0px 0px 20px 1px black;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: AboutUs;
}
.main__section-AboutUs p {
  font-size: min(5.3vw, 23px);
  font-weight: 300;
  padding: 0px 15px 0px 15px;
}

.main__section-reliable {
  background-image: linear-gradient(to bottom, #00c1fb, #00d1e0, #00d2d2);
  font-family: "Jost", sans-serif;
  border-radius: 20px;
  margin: 15px;
  padding: 20px;
  box-shadow: 0px 0px 20px 1px black;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: reliable;
}
.main__section-reliable p {
  font-size: min(5.3vw, 23px);
  font-weight: 300;
  padding: 0px 15px 0px 15px;
}

.main__section-inquiries {
  background-image: linear-gradient(to bottom, #00c1fb, #00d1e0, #00d2d2);
  font-family: "Jost", sans-serif;
  border-radius: 20px;
  margin: 15px;
  padding: 20px;
  box-shadow: 0px 0px 20px 1px black;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: inquiries;
}
.main__section-inquiries p {
  font-size: min(5.3vw, 23px);
  font-weight: 300;
  padding: 0px 15px 0px 15px;
}

.main__section-nosotros {
  background-image: linear-gradient(to bottom, #00c1fb, #00d1e0, #00d2d2);
  font-family: "Jost", sans-serif;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px black;
  margin: 15px;
  padding: 20px 30px;
}
.main__section-nosotros .main__content-section h4 {
  text-align: center;
  font-weight: 400;
  font-size: min(9vw, 2.5rem);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
}
.main__section-nosotros .main__content-section p {
  padding: 0px 10px;
  font-size: min(5.8vw, 1.5rem);
  text-align: center;
}

.main__article-sabias {
  background-image: linear-gradient(to bottom, #006dac, #0073ac, #0071b2);
  color: white;
  font-family: "Jost", sans-serif;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px black;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main__article-sabias .main__content-sabias p {
  font-size: min(5.3vw, 23px);
  font-weight: 300;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}

.main__article-sabias-1 {
  background-image: linear-gradient(to bottom, #006dac, #0073ac, #0071b2);
  color: white;
  font-family: "Jost", sans-serif;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px black;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main__article-sabias-1 .main__content-sabias p {
  font-size: min(5.3vw, 23px);
  font-weight: 300;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}

.section__form {
  width: 100%;
  margin: 0px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section__form .container-fluid {
  font-family: "Jost", sans-serif;
}
.section__form .container-fluid .form__person {
  padding: 20px;
  margin-top: 20px;
  background-image: linear-gradient(to bottom, #0096c3, #00aab6, #009797);
  border-radius: 20px;
  box-shadow: 0px 0px 15px 1px black;
}
.section__form .container-fluid .form__person .form-label {
  font-size: min(5.9vw, 1.5rem);
  margin-bottom: 5px;
  color: white;
  text-shadow: 0px 0px 5px black;
}
.section__form .container-fluid .form__person .form-label label {
  border-radius: 20px;
}
.section__form .container-fluid .form__person .tittle-person {
  color: white;
  font-size: min(10vw, 2.5rem);
  font-family: "Jost", sans-serif;
  text-align: center;
  text-shadow: 0px 0px 5px black;
  padding: 15px;
  margin: 0px;
}
.section__form .container-fluid .form__person .form-control {
  border: 2px solid rgb(0, 84, 105);
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 0px 5px 0px rgb(0, 62, 86);
  padding: 7px;
  font-size: min(6vw, 1.2rem);
}
.section__form .container-fluid .form__person .form-control::placeholder {
  color: rgb(116, 116, 116);
  font-size: min(5vw, 1.2rem);
  text-shadow: 0px 0px 1px #afafaf;
}
.section__form .container-fluid .form__product {
  background-image: linear-gradient(to bottom, #0096c3, #00aab6, #009797);
  border-radius: 20px;
  box-shadow: 0px 0px 15px 1px black;
  padding: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.section__form .container-fluid .form__product .form-label {
  font-size: min(5.9vw, 1.5rem);
  margin-bottom: 5px;
  color: white;
  text-shadow: 0px 0px 5px black;
}
.section__form .container-fluid .form__product .form-label label {
  border-radius: 20px;
}
.section__form .container-fluid .form__product .tittle-product {
  color: white;
  font-size: min(10vw, 2.5rem);
  font-family: "Jost", sans-serif;
  text-align: center;
  text-shadow: 0px 0px 5px black;
  padding: 15px;
  margin: 0px;
}
.section__form .container-fluid .form__product .form-control {
  border: 2px solid rgb(0, 84, 105);
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 0px 5px 0px rgb(0, 62, 86);
  padding: 7px;
  font-size: min(6vw, 1.2rem);
}
.section__form .container-fluid .form__product .form-control::placeholder {
  color: rgb(116, 116, 116);
  font-size: min(5vw, 1.2rem);
  text-shadow: 0px 0px 1px #afafaf;
}
.section__form .container-fluid .form__product .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  border: 1px solid black;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
  background-color: #00bcc9;
  color: rgb(66, 66, 66);
  font-size: 1.3rem;
  font-weight: 500;
}
.section__form .container-fluid .form__product .button:hover {
  padding: 7px 22px;
  box-shadow: 0px 0px 10px black;
  color: rgb(32, 32, 32);
}

.carousel__tienda {
  margin: 10px 0px;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .header .nav__container {
    margin: 0px;
    padding: 10px 60px;
  }
  .header .nav__container .navbar .container-fluid .navbar-brand {
    font-size: 1.5rem;
  }
  .main {
    margin: 20px 50px;
  }
  .main__content h1 {
    font-size: 2.5rem;
  }
  .main__content h2 {
    font-size: 1.5rem;
  }
  .main__content-section {
    display: flex;
    flex-direction: column;
  }
  .main__section-AboutUs {
    margin: 20px 50px;
  }
  .main__section-AboutUs .main__content-AboutUs p, .main__section-AboutUs .main__content-reliable p, .main__section-AboutUs .main__content-inquiries p {
    font-size: 1.4rem;
    padding: 25px 45px;
    text-align: justify;
    margin: 0px;
  }
  .main__section-reliable {
    margin: 20px 50px;
  }
  .main__section-reliable .main__content-AboutUs p, .main__section-reliable .main__content-reliable p, .main__section-reliable .main__content-inquiries p {
    font-size: 1.4rem;
    padding: 25px 45px;
    text-align: justify;
    margin: 0px;
  }
  .main__section-inquiries {
    margin: 20px 50px;
  }
  .main__section-inquiries .main__content-AboutUs p, .main__section-inquiries .main__content-reliable p, .main__section-inquiries .main__content-inquiries p {
    font-size: 1.4rem;
    padding: 25px 45px;
    text-align: justify;
    margin: 0px;
  }
  .main__article-sabias {
    background-image: linear-gradient(to bottom, #004974, #00476b, #00466e);
    color: rgb(255, 255, 255);
    font-family: "Jost", sans-serif;
    padding: 20px;
    margin: 20px 50px;
    border-radius: 20px;
    grid-area: sabias;
  }
  .main__article-sabias .main__content-sabias p {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 25px 45px;
    margin-bottom: 0px;
    text-align: justify;
  }
  .main__article-sabias-1 {
    background-image: linear-gradient(to bottom, #004974, #00476b, #00466e);
    color: rgb(255, 255, 255);
    font-family: "Jost", sans-serif;
    padding: 20px;
    margin: 20px 50px;
    border-radius: 20px;
    grid-area: sabias;
  }
  .main__article-sabias-1 .main__content-sabias p {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 25px 45px;
    margin-bottom: 0px;
    text-align: justify;
  }
  .main-turnos {
    margin: 20px 50px;
    height: 70vh;
  }
  .main-turnos__img {
    height: 70vh;
  }
  .main-turnos__content h1 {
    font-size: 2.8rem;
    text-shadow: 0px 0px 5px black;
  }
  .main-turnos__content h2 {
    font-size: max(1.3vw, 1.2rem);
    padding: 25px 50px;
    margin-bottom: 0px;
    text-align: center;
  }
  .main-reclamos {
    margin: 20px 50px;
    height: 60vh;
  }
  .main-reclamos__img {
    height: 60vh;
  }
  .main-reclamos__content h1 {
    font-size: 2.8rem;
    text-shadow: 0px 0px 5px black;
  }
  .main-reclamos__content h2 {
    font-size: min(5.8vw, 1.5rem);
    padding: 25px 50px;
    margin-bottom: 0px;
    text-align: justify;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
  }
  .section__form {
    margin: 0px;
    padding: 0px 40px;
  }
  .section__form .container-fluid {
    margin: 0px;
  }
  .section__form .container-fluid .form__person {
    width: 100%;
    padding: 30px 80px 50px 80px;
    margin-top: 10px;
  }
  .section__form .container-fluid .form__product {
    width: 100%;
    padding: 30px 80px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .main__section-nosotros {
    background-image: linear-gradient(to bottom, #00c1fb, #00d1e0, #00d2d2);
    font-family: "Jost", sans-serif;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 1px black;
    margin: 15px 50px;
    padding: 20px 30px;
  }
  .main__section-nosotros .main__content-section p {
    padding: 15px 10px;
    font-size: min(5.8vw, 1.5rem);
    text-align: center;
  }
  .main-nosotros {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    margin: 20px 50px;
  }
  .main-nosotros__img {
    background-image: url(../assets/images/menu.jpg);
    background-size: cover;
    background-position: top;
    box-shadow: 0px 0px 20px 1px black;
    border-radius: 20px;
    height: 55vh;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  .main-nosotros__content {
    position: absolute;
    z-index: 10;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Jost", sans-serif;
  }
  .main-nosotros__content h1 {
    font-size: min(10vw, 2.5rem);
    color: white;
    text-align: center;
    text-shadow: 0px 0px 20px black;
    font-weight: 400;
  }
}
@media screen and (min-width: 1200px) {
  .main__content-section {
    display: grid;
    grid-template: "AboutUs AboutUs sabias" "sabias-1 reliable sabias" "sabias-1 inquiries inquiries";
    grid-template-rows: 40vh 40vh 40vh;
    grid-template-columns: 25vw auto 25vw;
  }
  .main__section-AboutUs {
    margin: 20px 50px;
    grid-area: AboutUs;
    margin: 20px 20px 20px 50px;
  }
  .main__section-AboutUs .main__content-AboutUs p, .main__section-AboutUs .main__content-reliable p, .main__section-AboutUs .main__content-inquiries p {
    font-size: max(1.4vw, 1.2rem);
    padding: 25px 45px;
    text-align: justify;
    color: black;
    margin: 0px;
    text-shadow: 0px 0px px black;
  }
  .main__section-reliable {
    margin: 20px 50px;
    grid-area: reliable;
    margin: 20px;
  }
  .main__section-reliable .main__content-AboutUs p, .main__section-reliable .main__content-reliable p, .main__section-reliable .main__content-inquiries p {
    font-size: max(1.4vw, 1.2rem);
    padding: 25px 45px;
    text-align: justify;
    color: black;
    margin: 0px;
    text-shadow: 0px 0px px black;
  }
  .main__section-inquiries {
    margin: 20px 50px;
    grid-area: inquiries;
    margin: 20px 50px 20px 20px;
  }
  .main__section-inquiries .main__content-AboutUs p, .main__section-inquiries .main__content-reliable p, .main__section-inquiries .main__content-inquiries p {
    font-size: max(1.4vw, 1.2rem);
    padding: 25px 45px;
    text-align: justify;
    color: black;
    margin: 0px;
    text-shadow: 0px 0px px black;
  }
  .main__article-sabias {
    background-image: linear-gradient(to bottom, #004974, #00476b, #00466e);
    color: rgb(255, 255, 255);
    font-family: "Jost", sans-serif;
    padding: 20px;
    margin: 20px 50px;
    border-radius: 20px;
    grid-area: sabias;
    margin: 20px 0px;
    margin-right: 50px;
  }
  .main__article-sabias .main__content-sabias p {
    font-size: max(1.3vw, 0.9rem);
    font-weight: 300;
    padding: 25px 25px;
    margin-bottom: 0px;
    text-align: center;
  }
  .main__article-sabias-1 {
    background-image: linear-gradient(to bottom, #004974, #00476b, #00466e);
    color: rgb(255, 255, 255);
    font-family: "Jost", sans-serif;
    padding: 20px;
    margin: 20px 50px;
    border-radius: 20px;
    grid-area: sabias-1;
    margin: 20px 0px;
    margin-left: 50px;
  }
  .main__article-sabias-1 .main__content-sabias p {
    font-size: max(1.3vw, 0.9rem);
    font-weight: 300;
    padding: 25px 25px;
    margin-bottom: 0px;
    text-align: center;
  }
  .section__form {
    margin: 50px 0px;
  }
  .section__form .container-fluid {
    display: flex;
    justify-content: space-between;
  }
  .section__form .container-fluid .form__person {
    width: 48%;
    margin: 0px;
    padding: 50px;
  }
  .section__form .container-fluid .form__product {
    width: 48%;
    margin: 0px;
    padding: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
