.footer {
    background-image: radial-gradient(circle, #046aaa, #045e95, #045282);
    position: relative;
    z-index: 25;
    height: auto;
    box-shadow: 0px 0px 15px rgb(0, 85, 137);
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    margin: 0px;
    height: 75vh;

    .footer__tittle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0px;
    
        & h3 {
            padding-top: 20px;
            color: rgb(79, 226, 255);
            text-shadow: 0px 0px 55px black;
            font-size: 1.7rem;
            margin: 0px;
        }

        & h5 {
            color: rgb(0, 27, 32);
            text-shadow: 0px 0px 55px black;
            font-weight: 600;
            font-size: 0.7rem;
            margin: 0;
        }
    }

    .footer__ubicacion {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0px;
    
        & h5 {
            font-size: 1rem;
            font-weight: 500;
            color: rgb(79, 226, 255);
            text-shadow: 0px 0px 20px black;
            margin: 0px;
            padding-bottom: 10px;
        }

        & iframe {
            margin: 0px;
            padding: 0px;
            width: 280px;
            height: 190px;
            box-shadow: 0px 0px 15px rgb(0, 31, 48);
        
            & iframe:hover {
                box-shadow: 0px 0px 15px rgb(0, 31, 48);
            }
        }

        & h6 {
            font-size: 1rem;
            font-weight: 500;
            color: rgb(79, 226, 255);
            text-shadow: 0px 0px 20px black;
            margin: 0px;
            padding-top: 10px;
        }
    }

    .footer__redes {
        text-align: center;
        margin: 0px;
        padding: 0px;

        & h5 {
            font-size: 1rem;
            font-weight: 500;
            color: rgb(79, 226, 255);
            text-shadow: 0px 0px 20px black;
            margin: 0px;
            padding: 0px;
        }

        & h6 {
            color: white;
            font-size: 0.9rem;
            margin: 0px;
            }

        .redes__icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0px;
            padding-top: 15px;
            padding-bottom: 15px;
        
            & a {
                padding-left: 18px;
                padding-right: 18px;
                text-decoration: none
            }

            i {
                background-color: rgb(0, 0, 0);
                color: white;
                box-shadow: 0px 0px 10px rgb(79, 226, 255);
                font-size: 1rem;
                font-weight: 500px;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            & i:hover {
                width: 43px;
                height: 43px;
                text-shadow: 0px 0px 20px rgb(255, 255, 255);
                font-size: 1.2rem;
            }
        }
    }
}
