.main__content-section {
    display: flex;
    flex-direction: column;
}

// Section | ¿Quiénes Somos?
.main__section-AboutUs, .main__section-reliable, .main__section-inquiries{
    background-image: linear-gradient(to bottom, #00c1fb, #00d1e0, #00d2d2);
    font-family: 'Jost', sans-serif;
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 1px black;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    

    .main__content-AboutUs, .main__content-reliable, .main__content-inquiries {
        h3 {
            font-size: min(9.3vw, 40px);
            font-weight: 400;
            padding-bottom: 10px;
        }

        p {
            font-size: min(5.3vw, 23px);
            font-weight: 300;
            padding: 0px 15px 0px 15px;
        }
    }
}

// Section Card Repuestos Interes - Tienda

.tienda__conteiner-repuesto-interes {
    background-color: #00d2d2;
    padding: 20px;
    font-family: "Jost", sans-serif;

    .tienda__conteiner-repuesto-interes h3 {
        font-size: 2rem;
        margin: 20px;
    }

    .tienda__card-container {
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px;
        margin: 20px;
        background-color: rgb(17, 174, 226);
        border: 1px solid black;
        box-shadow: 0px 0px 7px black;
        border-radius: 10px;
        
        .card__ {
            background-color: rgb(255, 255, 255);
            display: inline-block;
            width: 160px;
            border: 1px solid black;
            border-radius: 10px;
            box-shadow: 0px 0px 5px black;
            margin: 10px 20px;
        
            &portada {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 10px 25px;
            }

            &info {
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: rgb(110, 207, 255);
                border-top: 1px solid black;
                padding-top: 2px;
                padding-bottom: 3px;
            
                
                h4 {
                    margin: 0px ;
                    font-size: min(5.7vw, 1.2rem);
                }

                button {
                    border: 0;
                    background-color: rgba(255, 255, 255, 0);
                }

                img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    margin: 0px 5px;
                }
            }

            &name  {
                background-color: rgb(110, 207, 255);
                padding: 1px 10px 10px 10px;
                border-radius: 0px 0px 10px 10px;
            
                h5 {
                    text-align: center;
                    font-size: min(4vw, 0.9rem);
                    white-space: wrap;
                }
            }
        }
    }
}




.card__ {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 160px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    margin: 10px 20px;
}

.card__portada {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 25px;
}

.card__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(110, 207, 255);
    border-top: 1px solid black;
    padding-top: 2px;
    padding-bottom: 3px;
}

.card__info h4 {
    margin: 0px ;
    font-size: min(5.7vw, 1.2rem);
}

.card__info button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.card__info img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    margin: 0px 5px;
}

.card__name  {
    background-color: rgb(110, 207, 255);
    padding: 1px 10px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}

.card__name h5 {
    text-align: center;
    font-size: min(4vw, 0.9rem);
    white-space: wrap;
}
