// Form | Turnos.html
.section__form {
    margin: 0px 15px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container-fluid {
        margin: 0px auto;
        padding: 0px;
        font-family: 'Jost', sans-serif;
    
        .form__person {
            background-image: linear-gradient(to bottom, #0096c3, #00aab6, #009797);
            padding: 15px;
            margin: 20px 0px;
            border-radius: 20px;
            box-shadow: 0px 0px 15px 1px black;
        
            .form-label {
                font-size: min(5.9vw, 1.5rem);
                margin-bottom: 5px;
                color: white;
                text-shadow: 0px 0px 5px $blackshadow;
            
                & label {
                    border-radius: 20px;
                }
            }

            .tittle-person {
                color: white;
                font-size: min(10vw, 2.5rem);
                font-family: 'Jost', sans-serif;
                text-align: center;
                text-shadow: 0px 0px 5px $blackshadow;
                padding: 20px 15px;
                margin: 0px;
            }

            .form-control {
                border: 2px solid rgb(0, 84, 105);
                background-color: rgb(230, 230, 230);
                box-shadow: 0px 0px 5px 0px rgb(0, 62, 86);
                padding: 7px;
                font-size: min(6vw, 1.2rem);
            
                &::placeholder {
                    color: rgb(116, 116, 116);
                    font-size: min(5vw, 1.2rem);
                    text-shadow: 0px 0px 1px #afafaf;
                    
                }
            }
        }
        
        .form__product {
            background-image: linear-gradient(to bottom, #0096c3, #00aab6, #009797);
            padding: 15px;
            margin: 20px 0px;
            border-radius: 20px;
            box-shadow: 0px 0px 15px 1px black;
        
            .form-label {
                font-size: min(5.9vw, 1.5rem);
                margin-bottom: 5px;
                color: white;
                text-shadow: 0px 0px 5px $blackshadow;
            
                & label {
                    border-radius: 20px;
                }
            }

            .tittle-product {
                color: white;
                font-size: min(10vw, 2.5rem);
                font-family: 'Jost', sans-serif;
                text-align: center;
                text-shadow: 0px 0px 5px $blackshadow;
                padding: 20px 15px;
                margin: 0px;
            }

            .form-control {
                border: 2px solid rgb(0, 84, 105);
                background-color: rgb(230, 230, 230);
                box-shadow: 0px 0px 5px 0px rgb(0, 62, 86);
                padding: 7px;
                font-size: min(6vw, 1.2rem);
            
                &::placeholder {
                    color: rgb(116, 116, 116);
                    font-size: min(5vw, 1.2rem);
                    text-shadow: 0px 0px 1px #afafaf;
                    
                }
            }

            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 30px auto;
                border: 1px solid black;
                padding: 5px 20px;
                border-radius: 10px;
                box-shadow: 0px 0px 5px $blackshadow;
                background-color: #00bcc9;
                color: rgb(66, 66, 66);
                font-size: 1.3rem;
                font-weight: 500;

                &:hover {
                    padding: 7px 22px;
                    box-shadow: 0px 0px 10px $blackshadow;
                    color: rgb(32, 32, 32);
                }
           }
        }
    }
}














