.header {
    position: fixed;
    z-index: 30;
    width: 100%;
    font-family: 'Jost', sans-serif;
    opacity: 0.940;

    .nav__container {
        margin: 0px;
        padding: 10px 25px;

        .navbar {
            margin: 0;
            padding: 0px 0px;

            .container-fluid {
                background-color: #046aaa;
                box-shadow: 0px 0px 10px rgb(0, 85, 137);
                border-radius: 20px;
                padding: 8px 0px;
            
                .navbar-brand {
                    font-size: 1.35rem;
                    color: rgb(79, 226, 255);
                    font-weight: 500;
                    text-shadow: 0px 0px 30px black;
                    padding-left: 20px;
                    padding-bottom: 5px;

                    &:hover {
                        color: rgb(79, 226, 255);
                        text-shadow: 0px 0px 10px rgb(79, 226, 255);
                    }

                    &:focus {
                        color: rgb(79, 226, 255);
                        text-shadow: 0px 0px 10px rgb(79, 226, 255);
                    }
                }

                .navbar-toggler {
                    background-color: rgb(79, 226, 255);
                    font-size: 0.7rem;
                    border: 1px solid rgb(79, 226, 255);
                    box-shadow: 0px 0px 15px rgb(0, 62, 75);
                    padding: 7px 9px;
                    margin: 0;
                    margin-right: 11px;

                    &:focus {
                        background-color: rgb(79, 226, 255);
                        box-shadow: 0px 0px 10px rgb(79, 226, 255);
                        border: 1px solid rgb(79, 226, 255);
                    }

                    &:hover {
                        background-color: rgb(79, 226, 255);
                        box-shadow: 0px 0px 10px rgb(79, 226, 255);
                    }

                    &:active {
                        background-color: rgb(79, 226, 255);
                        box-shadow: 0px 0px 5px rgb(79, 226, 255);
                    }
                }

                .navbar-collapse {
                    margin: 0px;
                  
                    .navbar-nav {
                        margin: 0px;
                        padding-right: 10px;
                        padding-left: 10px;
                        
                        & li {
                            padding-bottom: 0px;
                            padding-right: 20px;
                            padding-left: 10px;
                        }

                        .nav-link {
                            display: inline-block;
                            color: rgb(79, 226, 255);
                            text-shadow: 0px 0px 15px black;
                            font-size: 1.2rem;
                            font-weight: 400;
                            margin: 0px;
                            padding: 0px;
                        
                            &:hover {
                                color: rgb(79, 226, 255);
                                text-shadow: 0px 0px 10px rgb(79, 226, 255);
                            }

                            &:focus {
                                color: rgb(79, 226, 255);
                                text-shadow: 0px 0px 10px rgb(79, 226, 255);
                            }
                        }
                    }
                }
            }
        }
    }
}

// NavBar | Tienda 

.navbar__tienda {
    padding: 30px 10px;
    background-color: #046aaa;
    font-family: 'Jost', sans-serif;
    border-bottom: 2px solid $blackshadow;
    box-shadow: 0px 0px 10px $blackshadow;

    .container-fluid__tienda {
        display: flex;
        justify-content:space-between;
        align-items: center;
        width: 100%;
        padding: 0px;
        padding-bottom: 10px;
    
        .navbar-brand__tienda {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0vh;
            padding: 0px;
            padding-bottom: 20px;
            font-size: min(9vw, 2.1rem);
            color: rgb(79, 226, 255);
            font-weight: 500;
            text-shadow: 0px 0px 5px rgb(0, 0, 0);
        }

        .search__tienda {
            display: flex;
            justify-content:space-around;
            align-items: center;
            text-align: center;
            
            & img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 22px;
            } 
            
            .input__tienda {
                width: 50vw;
                height: 34px;
                border: 1px solid black;
                box-shadow: 0px 0px 10px $blackshadow;
                font-size: 1.1rem;
            }

            .btn__tienda {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 43px;
                height: 34px;
                border: 1px solid black;
                box-shadow: 0px 0px 10px $blackshadow;
                background-color: rgb(242, 242, 242);
            }
        
        }

        .navbar-toggler__tienda {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height:32px;
            background-color: white;
            border: 1px solid black;
            box-shadow: 0px 0px 5px $blackshadow;
            
            
            &:focus, :active, :hover {
                box-shadow: 0px 0px 5px white;
                box-shadow: white;  
            }
            
            .navbar-toggler-icon__tienda {
                padding: 8px;
                background-color: white;
                
            } 
        }

        .navbar-collapse__tienda {

            & li{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            .nav-item__tienda a {
                font-size: 1.2rem;
                color: black;
                text-align: center;
                width: 80%;
                margin: 30px 20px 0px 20px;
                padding: 1px 0px;
                background-color: white;
                border-radius: 10px;
                border: 1px solid black;
                box-shadow: 0px 0px 10px $blackshadow;
            }
        }
    }
}


