@media screen and (min-width: 768px) {
   
    // INICIO | INDEX.HTML

    // Inicio NavBar | Index.html
    .header {

        .nav__container {
            margin: 0px;
            padding: 10px 60px;
    
            .navbar {

                .container-fluid {

                    .navbar-brand {
                        font-size: 1.50rem;
                    }
                }
            }
        }
    }
    // Fin NavBar | Index.html

    // Inicio Main | Index.html
    .main  {
        margin: 20px 50px;

        &__content {
            
            h1 {
                font-size: 2.5rem
            }

            h2 {
                font-size: 1.5rem;
            }
        }
    }
    // Fin Main | Index.html 

    // Inicio Sections | Index.html
    .main__content-section {
        display: flex;
        flex-direction: column;
        
    }

    @mixin sections-queries {
        margin: 20px 50px;

        .main__content-AboutUs, .main__content-reliable, .main__content-inquiries {

            p {
                font-size: 1.4rem;
                padding: 25px 45px;
                text-align: justify;
                margin: 0px;
            }
        }
    }

    .main__section-AboutUs {
        @include sections-queries;
    }

    .main__section-reliable {
        @include sections-queries;
    } 

    .main__section-inquiries {
        @include sections-queries;
    }
    // Fin Sections | Index.html

    // Incio Articles | Index.html
    @mixin articles-queries {
        background-image: linear-gradient(to bottom, #004974, #00476b, #00466e);
        color: rgb(255, 255, 255);
        font-family: 'Jost', sans-serif;
        padding: 20px;
        margin: 20px 50px;
        border-radius: 20px;
        grid-area: sabias;

        .main__content-sabias{
    
            p {
                font-size: 1.4rem;
                font-weight: 300;
                padding: 25px 45px;
                margin-bottom: 0px;
                text-align: justify;
            }
        }
    }
    .main__article-sabias {
        @include articles-queries;
    }

    .main__article-sabias-1 {
        @include articles-queries;
    }
    // Fin Articles | Index.html
    
    // FIN | INDEX.HTML


    // <--------- * ----------> //


    // INICIO | TURNOS.HTML

    // Main | Turnos.html
    .main-turnos {
        margin: 20px 50px;
        height: 70vh;
    
        &__img {
            height: 70vh;
        }

        &__content {
            
            h1 {
                font-size: 2.8rem;
                text-shadow: 0px 0px 5px black;
            }

            h2 {
                font-size: max(1.3vw, 1.2rem);
                padding: 25px 50px;
                margin-bottom: 0px;
                text-align: center;
            }
        }
    }

    // FIN | TURNOS.HTML


    // <--------- * ----------> //
    

    // INICIO | RECLAMOS.HTML


    // Main | Reclamos.html
    .main-reclamos {
        margin: 20px 50px;
        height: 60vh;
    
        &__img {
            height: 60vh;
        }

        &__content {
            
            h1 {
                font-size: 2.8rem;
                text-shadow: 0px 0px 5px black;
            }

            h2 {
                font-size: min(5.8vw, 1.5rem);
                padding: 25px 50px;
                margin-bottom: 0px;
                text-align: justify;
                font-weight: 300;
                color: rgb(255, 255, 255);
                text-shadow: 0px 0px 10px rgb(0, 0, 0);
            }
        }
    }

    //  Inicio Form | Reclamos.html
    .section__form {
        margin: 0px;
        padding: 0px 40px;

        .container-fluid {
            margin: 0px;

            .form__person {
                width: 100%;
                padding: 30px 80px 50px 80px;
                margin-top: 10px;
            }

            .form__product {
                width: 100%;
                padding: 30px 80px;
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }
    }
    //  Fin Form | Reclamos.html

    // Section | Reclamos.html
    
    .main__section-nosotros {
        background-image: linear-gradient(to bottom, #00c1fb, #00d1e0, #00d2d2);
        font-family: 'Jost', sans-serif;
        border-radius: 20px;
        box-shadow: 0px 0px 20px 1px black;
        margin: 15px 50px;
        padding: 20px 30px;
    
        .main__content-section {
    
            p {
                padding: 15px 10px;
                font-size: min(5.8vw, 1.5rem);
                text-align: center;
            }
            
        }   
    }


    // Main | Nosotros.html 
    .main-nosotros {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55vh;
        margin: 20px 50px;

        &__img {
            background-image: url(../assets/images/menu.jpg);
            background-size: cover;
            background-position: top;
            box-shadow: 0px 0px 20px 1px black;
            border-radius: 20px;
            height: 55vh;
            width: 100%;
            position: absolute;
            z-index: 1;
        }

        &__content {
            position: absolute;
            z-index: 10;
            margin: 0px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Jost', sans-serif;

            h1 {
                font-size: min(10vw, 2.5rem);
                color: white;
                text-align: center;
                text-shadow: 0px 0px 20px $blackshadow;
                font-weight: 400;
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    // Inicio Sections | Index.html
    .main__content-section {
        display: grid;
        grid-template: 
        "AboutUs AboutUs sabias"
        "sabias-1 reliable sabias"
        "sabias-1 inquiries inquiries";
        grid-template-rows: 40vh 40vh 40vh;
        grid-template-columns: 25vw auto 25vw;
    }

    @mixin sections-queries {
        margin: 20px 50px;

        .main__content-AboutUs, .main__content-reliable, .main__content-inquiries {

            p {
                font-size: max(1.4vw, 1.2rem);
                padding: 25px 45px;
                text-align: justify;
                color: black;
                margin: 0px;
                text-shadow: 0px 0px px black
            }
        }
    }

    .main__section-AboutUs {
        @include sections-queries;
        grid-area: AboutUs;
        margin: 20px 20px 20px 50px;
    }

    .main__section-reliable {
        @include sections-queries;
        grid-area: reliable;
        margin: 20px 
    } 

    .main__section-inquiries {
        @include sections-queries;
        grid-area: inquiries;
        margin: 20px 50px 20px 20px;
    }
    // Fin Sections | Index.html

    // Incio Articles | Index.html
    @mixin articles-queries {
        background-image: linear-gradient(to bottom, #004974, #00476b, #00466e);
        color: rgb(255, 255, 255);
        font-family: 'Jost', sans-serif;
        padding: 20px;
        margin: 20px 50px;
        border-radius: 20px;

        .main__content-sabias{
    
            p {
                font-size: max(1.3vw, 0.9rem);
                font-weight: 300;
                padding: 25px 25px;
                margin-bottom: 0px;
                text-align: center;
            }
        }
    }

    .main__article-sabias {
        @include articles-queries;
        grid-area: sabias;
        margin: 20px 0px;
        margin-right: 50px
    }

    .main__article-sabias-1 {
        @include articles-queries;
        grid-area: sabias-1;
        margin: 20px 0px;
        margin-left: 50px;
    }
    // Fin Articles | Index.html

    .section__form {
        margin: 50px 0px;

        .container-fluid {
            display: flex;
            justify-content: space-between;

            .form__person {
                width: 48%;
                margin: 0px;
                padding: 50px;
            }

            .form__product {
                width: 48%;
                margin: 0px;
                padding: 50px;
            }
        }
    }
}
// <------ * ------->  //